<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Login</title>
</head>
<body>
<h2></h2>

<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form th:action="@{/login/sign_up}" method="post"  >
            <h1>Tạo tài khoản</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="bi bi-facebook"></i></a>
                <a href="#" class="social"><i class="bi bi-google"></i></a>
                <a href="#" class="social"><i class="bi bi-linkedin"></i></a>
            </div>
            <span>hoặc</span>
            <input type="text" placeholder="Họ và tên người dùng" name="username" required="required">
            <input type="date" placeholder="Ngày sinh" name="birthday" required="required"  >
            <input type="email" placeholder="Email" name="email" >
            <input type="tel" placeholder="Số điện thoại" name="phone" required="required" >
            <input type="password" placeholder="Mật khẩu" name="pass"  id="pass" required="required">

            <input type="password" placeholder="Nhập lại mật khẩu" name="confirmpass" id="confirm" required="required" onkeyup="kiemTraMatKhau()">
            <span style="color: red" id="msg" >
            </span>
            <div style="margin-bottom: 5px">
                <input type="checkbox" style="max-width: 15px" name="police" required="required" onchange="kiemTraDongY()">
                <span>Tôi đồng ý với <a href="#" style="color: #5f61e6">Dịch vụ chính sách</a></span>
            </div>
            <button  class="form-btn" type="submit" name="submit" >Đăng ký</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form th:action="@{/login/sign_in}" method="post">
            <h1>Đăng nhập</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="bi bi-facebook"></i></a>
                <a href="#" class="social"><i class="bi bi-google"></i></a>
                <a href="#" class="social"><i class="bi bi-linkedin"></i></a>
            </div>
            <span>hoặc sử dụng tài khoản của bạn</span>
            <input type="tel" placeholder="Số điện thoại" name="phone" />
            <input type="password" placeholder="Mật khẩu" name="pass" />
            <div style="min-width: 128px">
                <input type="checkbox" style="max-width: 15px" >
                <span>Nhớ mật khẩu</span>
            </div>

            <a href="#">Quên mật khẩu</a>
            <button  class="form-btn" type="submit">Đăng nhập</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Chào mừng trở lại</h1>
                <p>Để giữ kết nối với chúng tôi, vui lòng đăng nhập bằng thông tin cá nhân của bạn</p>
                <button class="ghost form-btn" id="signIn">Đăng nhập</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Chào Bạn!</h1>
                <p>Nhập thông tin cá nhân của bạn và bắt đầu hành trình với chúng tôi</p>
                <button class="ghost form-btn" id="signUp">Đăng ký</button>
            </div>
        </div>
    </div>
</div>

<!--<footer>-->
<!--    <p>-->
<!--        Created with <i class="fa fa-heart"></i> by-->
<!--        <a target="_blank" href="https://florin-pop.com">Florin Pop</a>-->
<!--        - Read how I created this and how you can join the challenge-->
<!--        <a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.-->
<!--    </p>-->
<!--</footer>-->

</body>
<script>

    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });

    function kiemTraMatKhau(){
       matKhau= document.getElementById('pass').value;
       matKhauNhapLai =document.getElementById('confirm').value;
        if(matKhau != matKhauNhapLai)
        {
            document.getElementById("msg").innerHTML = "Mật khẩu không khớp !" ;

            return false;
        }else
        {
            document.getElementById("msg").innerHTML = "" ;
            return true;
        }
    }



</script>

</html>